* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 20px;
}
body {
  background-color: #181818;
  color: whitesmoke;
  font-family: 'DM Sans', sans-serif;
}
h1 {
  margin: 50px 0 0 50px;;
  font-family: lavigne-display, sans-serif;
  font-size: 5rem;
}
ul {
  margin: 25px 0 0 50px;
}
li {
  list-style-type: none;
  margin: 10px 0;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}
a:link, a:visited, a:active  {
  color: whitesmoke;
  text-decoration: none;
  border-bottom: 2px solid #181818;
}
a:hover {
  color: tomato;
  border-bottom: 2px solid tomato;
}


/* if you are looking at this, ignore the below for right now */


body.interior {
  background-color: whitesmoke;
  color: #181818;
  font-family: 'DM Sans', sans-serif;
}
main.exercise {
  text-align: center;
  max-width: 1440px;
  margin: 50px auto;
}
main.exercise img {
  max-width: 100%;
}
main.exercise hr {
  margin: 50px 0;
}
main.exercise > h2, h3, h4, h5, h6, ol, ul, li, p {
  text-align: left;
}
main.exercise h1 {
  margin: 50px 0 100px;
}
h2 {
  font-size: 2rem;
  margin: 25px 0 0 0;
  font-family: lavigne-display, sans-serif;
}
h3 {
  font-family: lavigne-display, sans-serif;
  margin: 50px 0 25px;
}
p {
  margin: 10px 0;
}
main.exercise a:link, main.exercise a:visited, main.exercise a:active  {
  color: #181818;
  text-decoration: none;
  border-bottom: 2px solid #181818;
}
main.exercise a:hover {
  color: tomato;
  border-bottom: 2px solid tomato;
}
